n8n-google-docs-to-github-workflow.json
{
  "name": "Google Docs to GitHub HTML",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "documentId": "={{ $json.documentId }}",
        "format": "html"
      },
      "id": "google-docs",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理 Google Docs HTML\nconst rawHtml = $input.first().json.content;\nconst title = $input.first().json.title || '新文档';\n\n// HTML 模板\nconst htmlTemplate = `<!DOCTYPE html>\n<html lang=\"zh-CN\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>${title}</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <link href=\"https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            font-family: 'Noto Sans SC', sans-serif;\n            background-color: #f4f3ee;\n            color: #3d3d3d;\n        }\n    </style>\n</head>\n<body class=\"leading-relaxed\">\n    <header class=\"bg-white/80 backdrop-blur-md shadow-sm sticky top-0 z-50\">\n        <nav class=\"container mx-auto px-4 sm:px-6 lg:px-8\">\n            <div class=\"flex items-center justify-between h-16\">\n                <div class=\"flex-shrink-0\">\n                    <h1 class=\"text-xl font-bold text-[#a52a2a]\">\n                        <a href=\"/\">NSSA</a>\n                    </h1>\n                </div>\n                <div class=\"hidden md:block\">\n                    <div class=\"ml-10 flex items-baseline space-x-4\">\n                        <a href=\"/\" class=\"px-3 py-2 rounded-md text-sm font-medium hover:text-[#a52a2a]\">首页</a>\n                        <a href=\"/about.html\" class=\"px-3 py-2 rounded-md text-sm font-medium hover:text-[#a52a2a]\">关于</a>\n                    </div>\n                </div>\n            </div>\n        </nav>\n    </header>\n\n    <main class=\"py-20 sm:py-24\">\n        <div class=\"container mx-auto px-4 sm:px-6 lg:px-8\">\n            <div class=\"max-w-4xl mx-auto bg-white p-8 rounded-xl shadow-lg\">\n                ${rawHtml}\n            </div>\n        </div>\n    </main>\n\n    <footer class=\"bg-gray-800 text-white\">\n        <div class=\"container mx-auto py-8 px-4 sm:px-6 lg:px-8 text-center\">\n            <p>© 2025 NSSA Platform. 基于历史报告的交互式探索，仅用于学习和研究目的。</p>\n        </div>\n    </footer>\n</body>\n</html>`;\n\n// 清理 HTML\nlet cleanHtml = rawHtml\n    .replace(/<style[^>]*>.*?<\\/style>/gs, '')\n    .replace(/style=\"[^\"]*\"/g, '')\n    .replace(/<span[^>]*>/g, '')\n    .replace(/<\\/span>/g, '')\n    .replace(/class=\"[^\"]*\"/g, '');\n\n// 应用样式\ncleanHtml = cleanHtml\n    .replace(/<h1[^>]*>/g, '<h1 class=\"text-4xl font-bold mb-6 text-gray-900\">')\n    .replace(/<h2[^>]*>/g, '<h2 class=\"text-3xl font-bold mb-4 text-gray-800\">')\n    .replace(/<h3[^>]*>/g, '<h3 class=\"text-2xl font-bold mb-3 text-gray-800\">')\n    .replace(/<p[^>]*>/g, '<p class=\"mb-4 text-gray-700 leading-relaxed\">')\n    .replace(/<ul[^>]*>/g, '<ul class=\"list-disc list-inside mb-4 space-y-2\">')\n    .replace(/<ol[^>]*>/g, '<ol class=\"list-decimal list-inside mb-4 space-y-2\">')\n    .replace(/<li[^>]*>/g, '<li class=\"text-gray-700\">');\n\nconst finalHtml = htmlTemplate.replace('${rawHtml}', cleanHtml);\nconst filename = `${title.toLowerCase().replace(/\\s+/g, '-').replace(/[^a-z0-9-]/g, '')}.html`;\n\nreturn [{\n    json: {\n        filename: filename,\n        content: finalHtml,\n        title: title,\n        documentId: $input.first().json.documentId\n    }\n}];"
      },
      "id": "process-html",
      "name": "Process HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "owner": "Matthewyin",
        "repository": "nssa",
        "filePath": "public/{{ $json.filename }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "Add/Update: {{ $json.title }}",
        "branch": "main"
      },
      "id": "github-upload",
      "name": "GitHub Upload",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://api.cloudflare.com/client/v4/accounts/YOUR_ACCOUNT_ID/workers/scripts/nssa/deployments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "cloudflareApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Deploy updated content: {{ $json.title }}"
            }
          ]
        }
      },
      "id": "trigger-deploy",
      "name": "Trigger Deploy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Process HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process HTML": {
      "main": [
        [
          {
            "node": "GitHub Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Upload": {
      "main": [
        [
          {
            "node": "Trigger Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
