n8n.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 处理所有文档数据，合并文件夹信息\nconst allResults = $input.all();\nlet allDocuments = [];\n\n// 文件夹映射\nconst folderMap = {\n  '1xDNGIOGnsCsXs0KZCHwKOav96dQGith4': { name: '心理专题', category: 'psychology' },\n  '1uKz9AOYftgvExoLPbiMvlEtdjY63YSB6': { name: '职场专题', category: 'workplace' },\n  '125UBg7dLONmNg0ou9T4d8uVW_fsrJFH8': { name: '历史专题', category: 'history' },\n  '1frvBLCJkyDaBffF_JXR4Px8DoIcL-75_': { name: '技术专题', category: 'tech' },\n  '1hVM2Q2doBl2Sb9HeUvTawjxIhP_MGd6P': { name: '业务专题', category: 'business'}\n};\n\n// 遍历每个文件夹的结果\nallResults.forEach(result => {\n  if (result.json.files && result.json.files.length > 0) {\n    result.json.files.forEach(file => {\n      const folderId = file.parents[0];\n      const folderInfo = folderMap[folderId];\n      \n      if (folderInfo) {\n        allDocuments.push({\n          json: {\n            ...file,\n            folderName: folderInfo.name,\n            folderId: folderId,\n            category: folderInfo.category\n          }\n        });\n      }\n    });\n  }\n});\n\nconsole.log(`总共找到 ${allDocuments.length} 个文档`);\nreturn allDocuments;"
      },
      "id": "8674ce6d-4cf6-4b04-9ab0-e7a0ee2761cd",
      "name": "处理文档数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// 解析AI Agent的响应\nconst response = $input.first();\nconst aiResponse = response.json.output;\nconst originalDoc = $('Loop Over Items').first().json;\n\nlet frontMatter = aiResponse;\n\n// 直接使用文档ID的后8位作为文件名\nconst docId = originalDoc.id;\nconst shortId = docId.slice(-8);\nconst fileName = $('判断文件状态').first().json.category + `-${shortId}.md`;\n\n// 构建完整的Front Matter\nconst now = new Date();\nconst completeFrontMatter = {\n  ...frontMatter,\n  date: now.toISOString(),\n  lastmod: now.toISOString(),\n  categories: [originalDoc.folderName]\n};\n\nreturn {\n  json: {\n    originalDoc,\n    frontMatter: completeFrontMatter,\n    fileName,\n    category: originalDoc.category\n  }\n};"
      },
      "id": "958a6e78-594e-4fd8-bdc1-3ad73b26046b",
      "name": "处理AI响应",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1456,
        192
      ],
      "id": "48491a92-3ad1-4898-a0f8-31779323b490",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=请分析这个Google文档并返回Hugo格式的Front Matter。\n\n文档信息：\n- URL: {{$json.webViewLink}}\n- 标题: {{$json.name}}\n- 分类: {{$json.folderName}}\n\n分析要求：\n1. 仔细阅读文档内容\n2. 提取核心主题和关键信息\n3. 生成适合的标签和描述\n\n返回JSON格式：\n{\n  \"title\": \"简洁的标题\",\n  \"description\": \"80-100字的文章描述，突出核心价值\",\n  \"tags\": [\"相关标签1\", \"相关标签2\", \"相关标签3\"]\n}\n\n注意：只返回JSON，不要包含其他解释文字。",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -448,
        -224
      ],
      "id": "1179425e-0c73-48f2-b7bf-d6f02c24b12d",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"简洁的标题\",\n  \"description\": \"80-100字的文章描述，突出核心价值\",\n  \"tags\": [\"相关标签1\", \"相关标签2\", \"相关标签3\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -144,
        48
      ],
      "id": "86d2d57b-cdfd-4150-a648-0c42e374685c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        48
      ],
      "id": "a55391c3-7b73-447e-8fa6-5d2021b14517",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{$json.id}}/export?mimeType=text/markdown",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "a709290b-f023-457a-bfa8-c63117d5e6e6",
      "name": "下载Markdown内容",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -336,
        288
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "4f83843a-8ea4-4cb4-b59f-85ff6d197ed0",
      "name": "合并AI和内容",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        160,
        160
      ],
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 合并内容 + 图片处理 + Mermaid 处理\nconsole.log(\"--- [合并内容] 节点开始执行 ---\");\ntry {\n    // 1. 获取由Merge节点合并后的单个输入项\n    const input = $input.first();\n    const data = input.json;\n    console.log(\"收到的输入数据类型:\", typeof data);\n    console.log(\"收到的binary数据:\", input.binary ? \"存在\" : \"不存在\");\n\n    // 2. 严格检查合并后的数据是否有效\n    if (!data || !data.frontMatter || !data.fileName) {\n        console.error(\"错误：合并后的数据无效或不完整，将跳过此项。\");\n        return []; \n    }\n    console.log(`数据检查通过: ${data.fileName}`);\n\n    // 3. 准备Front Matter\n    const fm = data.frontMatter;\n    const frontMatterYaml = `title: \"${fm.title || ''}\"\ndescription: \"${fm.description || ''}\"\ntags: [${fm.tags ? fm.tags.map(tag => `\"${tag}\"`).join(', ') : ''}]\ndate: \"${fm.date || ''}\"\nlastmod: \"${fm.lastmod || ''}\"\ncategories: [${fm.categories ? fm.categories.map(cat => `\"${cat}\"`).join(', ') : ''}]`;\n\n    // 4. 获取Markdown内容\n    let content = '';\n    \n    if (input.binary && input.binary.data) {\n        if (Buffer.isBuffer(input.binary.data)) {\n            content = input.binary.data.toString('utf8');\n        } else {\n            content = Buffer.from(input.binary.data).toString('utf8');\n        }\n        console.log(\"从binary数据获取内容，长度:\", content.length);\n    } else if (typeof data.data === 'string') {\n        content = data.data;\n        console.log(\"从data.data获取内容，长度:\", content.length);\n    } else if (typeof data.body === 'string') {\n        content = data.body;\n        console.log(\"从data.body获取内容，长度:\", content.length);\n    } else {\n        console.error(`错误：无法找到文档内容，文档标题: ${data.frontMatter.title}`);\n        return [];\n    }\n\n    // 5. 验证内容不为空\n    if (!content || content.trim().length === 0) {\n        console.error(`错误：文档内容为空，跳过处理: ${data.frontMatter.title}`);\n        return [];\n    }\n\n    // 6. ===== Mermaid 处理：优先于图片处理，防止文本标记内URL被误识别 =====\n    const mermaidList = [];\n    let mermaidCounter = 0;\n    const mermaidMatches = [];\n    const mermaidRegex = /MERMAIDSTART[ \\t]*\\n([\\s\\S]*?)MERMAIDEND/gi;\n    let mermaidMatch;\n    while ((mermaidMatch = mermaidRegex.exec(content)) !== null) {\n        mermaidCounter++;\n        const fullBlock = mermaidMatch[0];\n        const diagramCode = mermaidMatch[1].trim().split('\\n').map(line => line.trimEnd()).join('\\n').replace(/\\\\(.)/g, '$1');\n        // 对 mermaid 代码做 base64 编码，供 mermaid.ink API 使用\n        const base64Code = Buffer.from(JSON.stringify({ code: diagramCode, mermaid: { theme: 'default' } })).toString('base64url');\n        const localFileName = `mermaid-${mermaidCounter}.svg`;\n        mermaidMatches.push({ fullBlock, base64Code, localFileName });\n        mermaidList.push({ base64Code, localFileName });\n    }\n    // 把 mermaid 标记块替换为本地 SVG 图片引用\n    let processedContent = content;\n    mermaidMatches.forEach(m => {\n        processedContent = processedContent.replace(m.fullBlock, `![Mermaid 图表](./${m.localFileName})`);\n    });\n    console.log(`Mermaid 处理：找到 ${mermaidList.length} 个标记块，已替换为本地 SVG 路径`);\n    // ===== Mermaid 处理结束 =====\n\n    // 7. ===== 图片处理：提取并替换外部图片URL =====\n    const imageList = [];\n    let imageCounter = 0;\n    const imageRegex = /!\\[([^\\]]*)\\]\\((https?:\\/\\/[^)]+)\\)/g;\n    let match;\n    while ((match = imageRegex.exec(processedContent)) !== null) {\n        const originalUrl = match[2];\n        const isGoogleImage = /googleusercontent\\.com|ggpht\\.com|googleapis\\.com\\/drive/.test(originalUrl);\n        if (isGoogleImage) {\n            imageCounter++;\n            const localFileName = `image-${imageCounter}.jpg`;\n            imageList.push({ url: originalUrl, localFileName });\n        }\n    }\n    imageList.forEach(img => {\n        const escapedUrl = img.url.replace(/[.*+?^${}()|[\\]\\\\]/g, '\\\\$&');\n        processedContent = processedContent.replace(new RegExp(escapedUrl, 'g'), `./${img.localFileName}`);\n    });\n    console.log(`图片处理：找到 ${imageList.length} 张外部图片，已替换为本地相对路径`);\n    // ===== 图片处理结束 =====\n    // 8.5 ===== Base64 内联图片处理（Google Drawing / 嵌入式图片）=====\n    const inlineImageList = [];\n    let inlineCounter = 0;\n    const inlineRefMap = {};\n\n    // 匹配 [imageN]: <data:image/TYPE;base64,DATA> 定义行\n    const base64DefRegex = /\\[image(\\d+)\\]:\\s*<data:image\\/(\\w+);base64,([^>]+)>/g;\n    let defMatch;\n    while ((defMatch = base64DefRegex.exec(processedContent)) !== null) {\n        const refId = defMatch[1];\n        const mimeType = defMatch[2];\n        const base64Data = defMatch[3].replace(/\\n/g, '');\n        const ext = mimeType === 'jpeg' ? 'jpg' : mimeType;\n        inlineCounter++;\n        const localFileName = 'drawing-' + inlineCounter + '.' + ext;\n        inlineRefMap[refId] = { localFileName };\n        inlineImageList.push({ base64Data, localFileName });\n    }\n\n    // 替换 ![][imageN] 或 ![alt][imageN] 为本地路径\n    processedContent = processedContent.replace(/!\\[[^\\]]*\\]\\[image(\\d+)\\]/g, (match, refId) => {\n        const img = inlineRefMap[refId];\n        return img ? '![](./' + img.localFileName + ')' : match;\n    });\n\n    // 删除 base64 定义行\n    processedContent = processedContent.replace(/\\n?\\[image\\d+\\]:\\s*<data:image\\/\\w+;base64,[^>]+>/g, '');\n\n    console.log('Base64图片处理：找到 ' + inlineImageList.length + ' 张内联图片（Google Drawing）');\n    // ===== Base64 内联图片处理结束 =====\n\n\n    // 8. 合并完整文档\n    const completeDocument = `---\\n${frontMatterYaml}\\n---\\n${processedContent}`;\n    const fileName = data.fileName;\n    const slug = fileName.replace(/\\.md$/, '');\n    const category = data.category;\n\n    const finalOutput = {\n        json: {\n            fileName,\n            slug,\n            category,\n            title: data.frontMatter.title,\n            originalDoc: data.originalDoc,\n            success: true,\n            fileContent: completeDocument,\n            imageList,\n            mermaidList,\n            inlineImageList\n        },\n        binary: { data: Buffer.from(completeDocument, 'utf8') }\n    };\n    console.log(`--- [合并内容] 节点成功处理: ${fileName}, 图片:${imageList.length}, Mermaid:${mermaidList.length}, Drawing:${inlineImageList.length} ---`);\n    return finalOutput;\n    \n} catch (error) {\n    console.error(\"--- [合并内容] 节点发生错误 ---\", error.message);\n    console.error(\"错误堆栈:\", error.stack);\n    return [];\n}"
      },
      "id": "6e1d1fc3-7d18-4400-8abb-c06a79ade8ee",
      "name": "合并内容",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        160
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "jsCode": "// 准备资源下载命令：处理普通图片（Google Drive）+ Mermaid 图表（mermaid.ink）\nconsole.log(\"--- [准备资源下载命令] 节点开始执行 ---\");\ntry {\n    const input = $input.first();\n    const data = input.json;\n\n    const imageList = data.imageList || [];\n    const mermaidList = data.mermaidList || [];\n    const inlineImageList = data.inlineImageList || [];\n    const slug = data.slug || '';\n    const category = data.category || '';\n\n    if (!slug || !category) {\n        console.error('slug 或 category 为空，跳过资源下载');\n        return { json: { ...data, imageDownloadScript: `echo \"SKIP: slug or category empty\"` } };\n    }\n\n    const basePath = `/Users/matthewyin/Coding/nssa/src/content/posts/${category}/${slug}`;\n    const allCommands = [`mkdir -p '${basePath}'`];\n\n    // 1. Google Drive 图片下载命令\n    imageList.forEach(img => {\n        const safeUrl = img.url.replace(/'/g, \"'\\\\''\" );\n        allCommands.push(`curl -L -s --max-time 30 -o '${basePath}/${img.localFileName}' '${safeUrl}' && echo \"IMG_OK: ${img.localFileName}\" || echo \"IMG_FAIL: ${img.localFileName}\"`);\n    });\n\n    // 2. Mermaid 图表渲染命令（调用 mermaid.ink 免费 API）\n    // API 格式：https://mermaid.ink/svg/{base64url_encoded_config}\n    mermaidList.forEach(m => {\n        const mermaidUrl = `https://mermaid.ink/svg/${m.base64Code}`;\n        allCommands.push(`curl -L -s --max-time 60 -o '${basePath}/${m.localFileName}' '${mermaidUrl}' && echo \"MERMAID_OK: ${m.localFileName}\" || echo \"MERMAID_FAIL: ${m.localFileName}\"`);\n    });\n\n    // 3. Base64 内联图片（Google Drawing）写入命令\n    inlineImageList.forEach(img => {\n        allCommands.push(`python3 -c \"import base64; open('${basePath}/${img.localFileName}','wb').write(base64.b64decode('${img.base64Data}'))\" && echo \"DRAWING_OK: ${img.localFileName}\" || echo \"DRAWING_FAIL: ${img.localFileName}\"`);\n    });\n\n        allCommands.push(`echo \"RESOURCE_DONE: img=${imageList.length} mermaid=${mermaidList.length} drawing=${inlineImageList.length} slug=${slug}\"`);\n\n    const script = allCommands.join('\\n');\n    console.log(`生成了 ${imageList.length} 条图片命令 + ${mermaidList.length} 条 Mermaid 命令 + ${inlineImageList.length} 条 Drawing 命令`);\n    return { json: { ...data, imageDownloadScript: script } };\n\n} catch (error) {\n    console.error('准备资源下载命令失败:', error.message);\n    return { json: { ...$input.first().json, imageDownloadScript: `echo \"ERROR: ${error.message}\"` } };\n}"
      },
      "id": "d1a2b3c4-e5f6-7890-abcd-ef1234567890",
      "name": "准备资源下载命令",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        160
      ],
      "alwaysOutputData": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "={{ $json.imageDownloadScript }}",
        "cwd": "=/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        960,
        160
      ],
      "id": "f0e1d2c3-b4a5-6789-0123-456789abcdef",
      "name": "SSH下载资源",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=# 验证必要变量\nCATEGORY=\"{{ $('准备资源下载命令').first().json.category }}\"\nFILENAME=\"{{ $('准备资源下载命令').first().json.fileName }}\"\n\n# 调试输出\necho \"DEBUG: CATEGORY='${CATEGORY}'\"\necho \"DEBUG: FILENAME='${FILENAME}'\"\n\n# 验证变量不为空\nif [ -z \"${CATEGORY}\" ] || [ -z \"${FILENAME}\" ]; then\n    echo \"ERROR: 必要变量为空，跳过文件创建\"\n    echo \"CATEGORY: '${CATEGORY}'\"\n    echo \"FILENAME: '${FILENAME}'\"\n    exit 1\nfi\n\n# 构建路径\nSLUG=\"${FILENAME%.md}\"\nBASE_PATH=\"/Users/matthewyin/Coding/nssa/src/content/posts\"\nFULL_PATH=\"${BASE_PATH}/${CATEGORY}/${SLUG}\"\n\necho \"DEBUG: SLUG='${SLUG}'\"\necho \"DEBUG: FULL_PATH='${FULL_PATH}'\"\n\n# 验证最终路径\nif [[ \"${FULL_PATH}\" == *\"//\" ]] || [[ \"${SLUG}\" == \"\" ]]; then\n    echo \"ERROR: 路径构建错误，跳过文件创建\"\n    echo \"FULL_PATH: '${FULL_PATH}'\"\n    echo \"SLUG: '${SLUG}'\"\n    exit 1\nfi\n\n# 创建目录和文件\nmkdir -p \"${FULL_PATH}/\" && cat > \"${FULL_PATH}/index.md\" << 'EOFMARKER'\n{{ $('准备资源下载命令').first().json.fileContent }}\nEOFMARKER\n\necho \"SUCCESS: 文件已创建 ${FULL_PATH}/index.md\"",
        "cwd": "=/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        1200,
        160
      ],
      "id": "c9ec0000-9bb7-4ecd-8558-8b3e6b8cd166",
      "name": "保存合并后的文件到本地",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "be2bdc3d-dd1c-47f1-817f-feaa003c9323",
              "leftValue": "={{ $json.skipProcessing }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        192
      ],
      "id": "1071d156-de25-4a82-89dc-73d685f2a490",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=# 重新构建文件名（与原逻辑保持一致）\nCATEGORY=\"{{ $json.category }}\"\nID_SUFFIX=\"{{ $json.id.slice(-8) }}\"\nFILENAME=\"${CATEGORY}-${ID_SUFFIX}\"\nTARGET_DIR=\"/Users/matthewyin/Coding/nssa/src/content/posts/${CATEGORY}/${FILENAME}\"\n\n# 调试输出\necho \"CATEGORY: ${CATEGORY}\"\necho \"ID_SUFFIX: ${ID_SUFFIX}\"\necho \"FILENAME: ${FILENAME}\"\necho \"TARGET_DIR: ${TARGET_DIR}\"\necho \"Directory listing:\"\nls -la \"/Users/matthewyin/Coding/nssa/src/content/posts/${CATEGORY}/\" 2>/dev/null || echo \"Category directory not found\"\n\n# 检查目录是否存在\nif test -d \"${TARGET_DIR}\"; then\n    echo \"RESULT: EXISTS\"\nelse\n    echo \"RESULT: NOT_EXISTS\"\nfi",
        "cwd": "=/"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -1232,
        192
      ],
      "id": "72c26b1e-9fd1-4424-82f3-9e053c18538b",
      "name": "检查文件是否存在"
    },
    {
      "parameters": {
        "jsCode": "// 检查文件是否存在\nconst checkResult = $input.first();\nconst originalDoc = $('Loop Over Items').first().json;\n\n// 获取SSH命令的输出\nconst output = checkResult.json.stdout.trim();\n\n// 查找RESULT行\nconst lines = output.split('\\n');\nconst resultLine = lines.find(line => line.startsWith('RESULT:'));\nconst result = resultLine ? resultLine.split(':')[1].trim() : 'NOT_EXISTS';\n\nif (result === 'EXISTS') {\n  // 文件已存在，跳过处理\n  return {\n    json: {\n      ...originalDoc, \n      fileExists: true,\n      skipProcessing: true,\n      message: `文件已存在，跳过处理: ${originalDoc.name}` // ✅ 正确消息\n    }\n  };\n}\nelse {\n  // 文件不存在，需要处理\n  return {\n    json: {\n      ...originalDoc,\n      fileExists: false,\n      skipProcessing: false,\n      message: `文件不存在，开始处理: ${originalDoc.name}` // ✅ 正确消息\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        192
      ],
      "id": "4c2e1339-c3c1-46c5-903e-893c2796a352",
      "name": "判断文件状态"
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cd /Users/matthewyin/Coding/nssa && pwd && echo \"=== Git Status ===\" && git status && echo \"=== Git Remote ===\" && git remote -v && echo \"=== Git Config ===\" && git config --list | grep -E \"(user|remote)\" && echo \"=== Checking for changes ===\" && git diff-index --quiet HEAD -- && echo \"No changes\" || echo \"Changes detected\" && echo \"=== Adding files ===\" && git add . && echo \"=== Git Status After Add ===\" && git status && echo \"=== Attempting commit ===\" && git diff-index --quiet HEAD -- || (echo \"Committing changes...\" && git commit -m \"自动发布：批量更新文档\" && echo \"Pushing to remote...\" && git push)",
        "cwd": "=Coding/nssa"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -1232,
        16
      ],
      "id": "2d95b9c3-57f7-4a10-a7e5-9123bf0cd958",
      "name": "更新至GitHub",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1BuWi03gZ8GwndFjz2LdhQglGMjW80VMY' in parents and mimeType='application/vnd.google-apps.folder'"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            }
          ]
        },
        "options": {}
      },
      "id": "f3b39756-05f3-41d7-8654-7322ca565150",
      "name": "获取Google Dri nssa的子目录",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2336,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// 处理子文件夹数据，为每个文件夹创建查询\nconst response = $input.first().json;\n\nif (!response.files || response.files.length === 0) {\n  console.log('没有找到子文件夹');\n  return [];\n}\n\nconsole.log(`找到 ${response.files.length} 个子文件夹`);\n\n// 为每个文件夹创建独立的查询任务\nreturn response.files.map(folder => ({\n  json: {\n    folderId: folder.id,\n    folderName: folder.name,\n    queryUrl: `https://www.googleapis.com/drive/v3/files?q='${folder.id}' in parents and mimeType='application/vnd.google-apps.document'&fields=files(id,name,mimeType,modifiedTime,parents,webViewLink)`\n  }\n}));"
      },
      "id": "6af4586b-0179-44e9-b339-667b2d268a49",
      "name": "处理nssa目录",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{$json.queryUrl}}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "id": "89fc4a98-5b02-472c-9d7b-38af45f7e88a",
      "name": "扫描nssa目录文档",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1888,
        192
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2560,
        192
      ],
      "id": "2211488c-9986-4ee7-b8c4-4ee9eb74c568",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// 文件质量检测节点\nconst input = $input.first();\nconst data = input.json;\n\n// 获取frontMatter数据\nconst frontMatter = data.frontMatter || {};\nconst title = frontMatter.title || '';\nconst description = frontMatter.description || '';\nconst tags = frontMatter.tags || [];\n\n// 检测条件\nconst conditions = {\n  emptyTitle: !title || title.trim() === '',\n  inaccessibleDoc: title.includes('无法访问文档') || title.toLowerCase().includes('inaccessible'),\n  emptyDescription: !description || description.trim() === '',\n  emptyTags: !Array.isArray(tags) || tags.length === 0\n};\n\n// 判断是否需要删除\nconst shouldDelete = conditions.emptyTitle || conditions.inaccessibleDoc || conditions.emptyDescription || conditions.emptyTags;\n\n// 构建检测结果\nconst result = {\n  json: {\n    ...data,\n    qualityCheck: {\n      passed: !shouldDelete,\n      shouldDelete: shouldDelete,\n      conditions: conditions,\n      issues: []\n    }\n  }\n};\n\n// 记录具体问题\nif (conditions.emptyTitle) result.json.qualityCheck.issues.push('标题为空');\nif (conditions.inaccessibleDoc) result.json.qualityCheck.issues.push('文档无法访问');\nif (conditions.emptyDescription) result.json.qualityCheck.issues.push('描述为空');\nif (conditions.emptyTags) result.json.qualityCheck.issues.push('标签为空');\n\nconsole.log(`质量检测 - 文件: ${data.fileName}`);\nconsole.log(`标题: \"${title}\"`);\nconsole.log(`描述长度: ${description.length}`);\nconsole.log(`标签数量: ${tags.length}`);\nconsole.log(`检测结果: ${shouldDelete ? '需要删除' : '质量合格'}`);\nif (shouldDelete) {\n  console.log(`问题列表: ${result.json.qualityCheck.issues.join(', ')}`);\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        208
      ],
      "id": "a0ba0784-d11e-4ef4-81ad-b28ad9c6802f",
      "name": "文档质量检测"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd6b909a-dd85-41fb-9c26-af9d76ff63a1",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        416
      ],
      "id": "c76bfd26-08fd-463b-9c96-a4c68b9166ad",
      "name": "If1"
    },
    {
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {
          "maxTokens": 32768,
          "responseFormat": "json_object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -528,
        48
      ],
      "id": "b07a79b7-f0dd-4c81-b0d7-d6654cc087c7",
      "name": "DeepSeek Chat Model"
    }
  ],
  "connections": {
    "处理文档数据": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理AI响应": {
      "main": [
        [
          {
            "node": "合并AI和内容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "更新至GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "检查文件是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "处理AI响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "下载Markdown内容": {
      "main": [
        [
          {
            "node": "合并AI和内容",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "合并AI和内容": {
      "main": [
        [
          {
            "node": "合并内容",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并内容": {
      "main": [
        [
          {
            "node": "准备资源下载命令",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备资源下载命令": {
      "main": [
        [
          {
            "node": "SSH下载资源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH下载资源": {
      "main": [
        [
          {
            "node": "保存合并后的文件到本地",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存合并后的文件到本地": {
      "main": [
        [
          {
            "node": "文档质量检测",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "下载Markdown内容",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查文件是否存在": {
      "main": [
        [
          {
            "node": "判断文件状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断文件状态": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取Google Dri nssa的子目录": {
      "main": [
        [
          {
            "node": "处理nssa目录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理nssa目录": {
      "main": [
        [
          {
            "node": "扫描nssa目录文档",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "扫描nssa目录文档": {
      "main": [
        [
          {
            "node": "处理文档数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "获取Google Dri nssa的子目录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "文档质量检测": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "timestamp": "2025-08-26T10:30:34.509+08:00",
        "Readable date": "August 26th 2025, 10:30:34 am",
        "Readable time": "10:30:34 am",
        "Day of week": "Tuesday",
        "Year": "2025",
        "Month": "August",
        "Day of month": "26",
        "Hour": "10",
        "Minute": "30",
        "Second": "34",
        "Timezone": "Asia/Shanghai (UTC+08:00)"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea27eea5943ea997fc6bfde06792d1e57f992a703d9ffee127ac850cbaaf6839"
  }
}